body {
    display: flex;
    margin: 0   ;

}

/* .icon-bar i{
    font-size: 50px; */

.icon-bar a{    
    text-decoration: none;
    color: black;
}
.tad-conten p {
font-size: 1em;

}
.tad-conten  {
display: flex;
flex-direction: column;
justify-content: center;
gap: 3rem;
align-items: center;
min-height: 100vh;
}
.Portfolio button {
    width: fit-content;
    font-size: 2em;
    padding: 10px;
}
#font {
    font-size: 1em;
    width: 80%;
}
a {
    text-decoration: none;
    color: black;
}
.tad-logo {
    background-color: black;
    width:70%;
    height: 50%;
}
.Portfolio {
    width: 57%;
    height: 100%;
    
}